---
layout: archive-taxonomy
title: "Make electronic tools better again"
permalink: /blog/
author_profile: true
comments: true
pagination:
  enabled: true
---

<!-- {{ content }} -->

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- 111
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
3333
{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}
dddd
{% include paginator.html %} -->